include LICENSE
include *.md
recursive-include tests *.py
recursive-include examples *.py *.json
recursive-include schemas *.json
recursive-include prototypes *.py
recursive-include security_fuzz *.py
recursive-include security_isolation *.py
recursive-include security_monty *.py
